
    <div class="container">
            <h1 class="padded text-center">Bienvenue sur FouBar!</h1>
            <h3  class="padded text-center">Il y a toujours une occassion pour aller dans un bar</h3>

            <div class="text-center padded">
              <ng-container *ngIf="user; else login">
                    <h2>Bienvenue {{ user.pseudo }}!</h2>
              </ng-container>

              <ng-template #login>
                      <button type="button" class="btn btn-primary" primary routerLink="/user/login">Se connecter</button>
                      <button type="button" class="btn btn-default" primary routerLink="/user/register">S'inscrire</button>

              </ng-template>

            </div>

    </div>

