<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">{{ pageName }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="nav navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
              </li>

              <!--<li><span *ngIf="user; else login">{{ user.firstName }}</span></li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/login" secondary>Se connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/register" secondary>S'inscrire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/bar/partners" secondary>Partenaire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/bar/ListBar" secondary>Liste des bars</a>
              </li>
              <li class="nav-item">

                <a class="snipcart-checkout nav-link" ><span class="fas fa-shopping-cart"></span><span class="snipcart-items-count"></span></a>
              </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>          </form>

      </div>

  </nav>
</header>

