<!--
  <div class="spaced" data-testid="filtering">
  <input type="text" [(ngModel)]="filterInput" name="filter-input" (keyup)="onFilter()" [placeholder]="
    filterPlaceholder" autocomplete="off" class="form-control"/>
  <button type="button" class="btn btn-success"(click)="reset()">clear</button>
</div>

-->
<section *ngIf="drinks$  as drinks; else loading" data-testid="display-bars">
  <fbapp-drink-thumbnail *ngFor="let drink of drinks" [drink]="drink " (chose)="onSelectDrink($event)">
  </fbapp-drink-thumbnail>
</section>
<ng-template #loading>

</ng-template>
